
<div class="main top-main">
  <div class="top-message">
    <h2>まだ体験したことのない旅をしよう</h2>
  </div>
<%= search_form_for @q, url: search_home_index_path do |f| %>
<div class="search-outer-box">
  <%= f.search_field :room_name_or_address_cont, class: "search-box" , placeholder:"東京" %>
  <%= f.submit "検索", class: "search-submit" %>
</div>
<% end %>
</div>
